.footer {
    color: white;
    padding: 20px;
    background-color: #131921;
    text-align: center;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
}

.footer__nav {
    color: white;
    text-decoration: none;
}